.library {
  display: flex;
  flex-direction: column;  
  row-gap: var(--space-s);

  & > * {
    display: block;
  }

  & > h1 {
    color: var(--clr-font-library);
  
    margin-inline: auto;
    line-height: .8;
    width: fit-content;
  }  

  & > h1::selection {
    background-color: var(--clr-library-h1-selection);
  }  
}

.btn--add {
  margin-inline: auto;
}

.catalog {
  margin-inline: auto;
  max-width: calc(var(--space-l) * 2 + 25rem * 3);
  
  display: grid;
  grid-template: 
    auto / repeat(auto-fit, minmax(20rem, 25rem));
  grid-auto-rows: 30rem;
  justify-content: center;

  gap: var(--space-l);
}

.book {
  background-color: var(--clr-bg-book);
  border-radius: 1.25rem;
  padding: var(--space-m);

  display: flex;
  flex-direction: column;
  align-items: start;

  height: 30rem;
  
  box-shadow: .8rem .8rem .5rem 0 rgb(0, 0, 0, 0.1);
  
  & > * {
    color: var(--clr-font-book-meta);
  }

  & > .book__title {
    color: var(--clr-book-title);
    font-size: var(--step-3);
    margin-block-end: var(--space-s);
  }

  & > span > span{
    color: var(--clr-font-book-meta-caption);
  }

  & > .book__buttons {
    margin-block-start: auto;
    margin-inline-start: auto;
  }

  transition: 1s cubic-bezier(0.23, 1, 0.320, 1);
  
  @starting-style {
    scale: 0;
  }
}