.btn {
  padding-inline: var(--space-m);
  padding-block: calc(var(--space-3xs) + .15rem);
  color: var(--clr-buttons-font);
  
  border-radius: .25rem;
  border: none;
  background-color: var(--clr-buttons-bg);

  transition: 250ms ease;
}

.btn--main {
  padding-block: var(--space-xs);
  padding-inline: var(--space-l);

  width: fit-content;
  height: fit-content;

  &:hover {
    background-color: var(--clr-buttons-bg-hover);
  }
  &:active {
    background-color: var(--clr-buttons-bg-active);
  }
}

.btn--nav {
  background-color: transparent;
  padding: 0;

  background-image: linear-gradient(#fff);
  background-repeat: no-repeat;
  background-size: 0 .15rem;
  background-position: 50% 100%;
  
  &:hover {
    background-size: 100% .15rem;
  }
}

