.home-tab {
  & > h1 {
    grid-area: header;

    font-weight: var(--fw-500);
    line-height: 1.25;
  }

  & > .hero-image {
    grid-area: hero;

    background-image: url("/src/public/imgs/pizza.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    scale: 1.25;
  }

  & > p {
    grid-area: para;
  }

  & > button {
    grid-area: btn;
  }

  display: grid;
  grid-template: 
    min-content 1fr min-content /
    minmax(25rem, 1fr) 1fr;
  grid-template-areas: 
    "header hero"
    "para hero"
    "btn hero";
  row-gap: var(--space-s);

  max-width: var(--width-m);
  margin-inline: auto;
}