*, *::after, *::before {
  box-sizing: border-box;
}

:where(body) {
  font-family: var(--ff);
  font-size: var(--step-1);
  font-optical-sizing: auto;
  font-weight: normal;
  color: var(--fc-white);

  background-color: var(--clr-primary-bg-body);
  
  scroll-behavior: smooth;
  overflow-wrap: break-word;

  text-wrap: pretty;
  line-height: 1.5;
  hyphens: auto;
  margin: 0;
}

:where(img) {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

:where(fieldset) {
  margin: 0;
}

:where(figure) {
  margin: 0;
}

:where(button) {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

:where(a) {
  &:hover,
  &:focus-visible {
    text-decoration: none;
  }
}

:where(h1, h2, h3, p) {
  margin-block: 0;
}

:where(h1) {
  font-size: var(--step-5);
  font-weight: var(--fw-800);
}

:where(h2) {
  font-size: var(--step-4);
  font-weight: var(--fw-700);
}

:where(h3) {
  font-size: var(--step-3);
  font-weight: var(--fw-400);
}

ul, ol {
  margin: 0;
  padding-inline: 2ch;
  list-style-type: none;
}

:where(dl) {
  margin-block: 0;
}
