.etch-board {
  display: grid;
  grid-template-columns: repeat(16, 2rem);
  grid-template-rows: auto;
}

.etch-dot {
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-primary);
}

.etch-dot:hover {
  background-color: var(--clr-primary-hover);
}

.etch-dot:active {
  background-color: var(--clr-primary-active);
}

.etch-btn {
  position: absolute;
  
}

.colored {
  background-color: var(--clr-primary-hover);
}