.trending__list {
  border-radius: .5rem;
  padding: var(--space-m);
  
  background-color: var(--clr-component-bg);
  color: var(--clr-color-primary);

  box-shadow: var(--box-shadow-primary);
}

.trending__list > * + * {
  margin-block-start: var(--space-s);
}

.tr-item {
  display: grid;
  grid-template: 
    repeat(2, 1.5rem) /
    3rem auto;
  gap: 0 var(--space-s);
}

.tr-item__username {
  color: var(--clr-headings-color-primary);
  
  align-self: end;
}

.tr-item__username,
.tr-item__status {
  line-height: 1.35;
}

.tr-item__picture {
  grid-row: 1 / -1;

  border-radius: 50%;
  
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tr-item__picture--tegan {
  background-image: url(/public/imgs/119d9abaee7a1e987571f0fe776bd1a5.png);
}

.tr-item__picture--morgan {
  background-image: url(/public/imgs/78c7bf3d348d505f15d332f9a58092f7.png);
}

.tr-item__picture--kendall {
  background-image: url(/public/imgs/098d5b19a0870d95bee0cdbcef632be1.png);
}

.tr-item__picture--alex {
  background-image: url(/public/imgs/94f5ac7e7b78495be7df7e5ca427fd5c.png);
}

