.btn {
  display: inline block;
  background-color: var(--btn-base-bg);
  color: var(--clr-btn-base-font);
  
  border-radius: 2rem;
  border: none;
  
  transition: 150ms ease;
  &:hover {
    background-color: var(--btn-base-bg-hover);
    scale: 1.025;
  }
  &:active {
    background-color: var(--btn-base-bg-active);
    scale: 0.975;
  }
  font-size: var(--step-0);
  font-weight: var(--fw-600);

  padding-inline: var(--space-xl);
  padding-block: var(--space-2xs);

  line-height: 1;
}

.btn--reset {
  background-color: var(--btn-reset-bg);

  &:hover {
    background-color: var(--btn-reset-bg-hover);
  }
  &:active {
    background-color: var(--btn-reset-bg-active);
  }
}

.btn--popover#cancel-button {
  padding: 0;
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--clr-btn-cancel-bg);
}

.btn--popover#submit-button {
  background-color: var(--clr-btn-submit-bg);
  border-radius: .5rem;
}