main {
  height: 100svh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* To select all elements, but the first and empty */
main > * + *:not(:last-child, :empty, .winner) {
  margin-block-start: var(--space-s);
}

main > h1 {
  line-height: 1;
}