.calculator {
  background-color: var(--clr-primary-bg-calc);
  border: .5rem solid var(--clr-primary-bg-calc);
  border-radius: .5rem;
  max-width: calc(5rem * 4 + .3rem * 3 + .5rem * 2);
  display: grid;
  gap: .3rem;
  grid-template-columns: 1fr 5rem;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "form form"
    "digits actions";
}

/* Manual input section */
.calculator-form__field {
  border-radius: .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: auto 5rem;
  grid-template-rows: 5rem 5rem;
  grid-template-areas:
    "input clear"
    "input submit";
  gap: .3rem;
  border: none;
  padding: 0;
}

.calculator-form_input {
  background: var(--clr-primary-bg-field);
  height: 5rem;
  border-radius: .5rem;
  text-align: end;
  border: none;
  width: 100%;
  height: 100%;
  font-size: var(--step-5);
  outline: none;
  color: var(--fc-white);
}

/* Buttons */
.calc-btn {
  height: 5rem;

  border: none;
  border-radius: .5rem;
  background-color: var(--clr-btn-digit);

  transition: 150ms ease;
}
.calc-btn:hover {
  background-color: var(--clr-btn-digit-hover);
}
.calc-btn:active {
  background-color: var(--clr-btn-digit-active);
}

.calc-btn--operator {
  background-color: var(--clr-btn-action);
}
.calc-btn--operator:hover {
  background-color: var(--clr-btn-digit);
}
.calc-btn--operator:active {
  background-color: var(--clr-btn-action);
}

.calc-btn--clear-btn {
  background-color: var(--clr-btn-clear);
}
.calc-btn--clear-btn:hover {
  background-color: var(--clr-btn-clear-hover);
}
.calc-btn--clear-btn:active {
  background-color: var(--clr-btn-clear-active);
}

.calc-btn--submit {
  background-color: var(--clr-btn-submit-operation);
}
.calc-btn--submit:hover {
  background-color: var(--clr-btn-submit-operation-hover);
}
.calc-btn--submit:active {
  background-color: var(--clr-btn-submit-operation-active);
}

.calculator-buttons__digits {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  gap: 0.3rem;
}

.calculator-buttons__digits > * {
  flex-grow: 1;
}

[data-target="0"] {
  grid-column: 1/-1;
}


/* Action buttons */
.calculator-buttons__actions {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

/* Grid areas */
.calculator__title { grid-area: title; }
.calculator-form { grid-area: form; }
.calculator-buttons__digits { grid-area: digits; }
.calculator-buttons__actions { grid-area: actions; }

.calculator-form_input { grid-area: input;}
.calc-btn--submit { grid-area: submit; }
.calc-btn--clear-btn { grid-area: clear; }