.content__form legend {
  padding-block-start: var(--space-2xl);

  font-weight: var(--fw-500);
  font-size: var(--step-1);
}

.form__title {
  flex-basis: 100%;
  font-size: var(--step-1);
  font-weight: var(--fw-500);
  padding-block-start: var(--space-xs);
}

.content__form input {
  max-width: 15rem;
  height: 1.8rem;
  font-size: var(--step-0);

  border: var(--input-border-width-default) solid var(--clr-input-border-default);
  border-radius: .25rem;
  padding-inline: var(--space-xs);

  &:focus {
    outline: var(--input-border-width-default) solid var(--clr-input-border-focus);
    box-shadow: 0 .25rem .5rem rgb(0, 0, 0, 0.25);
  }
  
  &[type="password"]:invalid {
    outline: var(--input-border-width-default) solid var(--clr-input-border-pwd);
  }
}

.content__form > fieldset{
  padding-block-end: var(--space-l);
  padding-inline-start: var(--space-xl);
  margin-block-end: var(--space-m);

  box-shadow: 0 .25rem .5rem  rgb(0, 0, 0, 0.25);
  
  background-color: var(--clr-form-bg);
  border: none;
  
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-2xl);
  row-gap: var(--space-s);
}

.content__form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > label {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: var(--fw-500);
    font-size: var(--step-custom);
  }
}

.form__submit {
  background-color: var(--clr-create-button-bg);

  color: #fff;
  font-size: var(--step-0);

  padding-inline: var(--space-xl);
  padding-block: var(--space-xs);

  border-radius: .5rem;
  border: none;

  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    background-color: var(--clr-create-button-bg-hover);
    scale: 1.015;
  }

  &:active {
    background-color: var(--clr-create-button-bg-active);
    scale: 1;
  }
}

.form__span {
  margin-block-start: var(--space-m);
  font-size: var(--step-0);

  & > a {
    color: var(--clr-create-button-bg);
    text-decoration: none;
    font-weight: var(--fw-500);
  }
}