.splash {
  height: 100svh;
  min-width: 30rem;
  background-image: url("/public/imgs/halie-west-unsplash.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.splash > span {
  color: #fff;
  font-size: var(--step-custom);
  font-weight: 200;
  margin-block-end: var(--space-2xs);

  & > a {
    color: #fff;
  }
}

.odin-logo {
  height: 8.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-block-start: 13.5rem;
}

.odin-logo > img {
  height: 7rem;
}

.odin-logo > span {
  color: #fff;
  font-family: var(--font-custom-logo);
  font-size: 5rem;
}