/* Shared modal styles & animations */
.helper-modal {
  min-width: 25rem;

  padding: var(--space-s);
  
  background-color: var(--clr-component-bg-primary);
  color: var(--clr-font-primary);

  border: none;
  border-radius: 1rem;
}

.modal-base {
  padding: var(--space-s);
  background-color: var(--clr-component-bg-primary);
  border: none;
  border-radius: 1rem;
  width: 20rem;
  
  scale: 0;
  opacity: 0;

  transition: 150ms cubic-bezier(0.075, 0.82, 0.165, 1) allow-discrete
}

.modal-base:open {
  opacity: 1;
  scale: 1;
  @starting-style {
    opacity: 0;
    scale: 0;
  }
}