:root {
  --step-custom: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  --step--1: clamp(0.775rem, 0.731rem + 0.1378vw, 0.925rem);
  --step-0: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
  --step-1: clamp(1.125rem, 1.026rem + 0.4225vw, 1.4063rem);
  --step-2: clamp(1.35rem, 1.2064rem + 0.6127vw, 1.7578rem);
  --step-3: clamp(1.62rem, 1.4167rem + 0.8673vw, 2.1973rem);
  --step-4: clamp(1.944rem, 1.6614rem + 1.2058vw, 2.7466rem);
  --step-5: clamp(2.3328rem, 1.9453rem + 1.6532vw, 3.4332rem);

  --space-3xs: clamp(0.25rem, 0.228rem + 0.0939vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.478rem + 0.0939vw, 0.5625rem);
  --space-xs: clamp(0.6875rem, 0.6215rem + 0.2817vw, 0.875rem);
  --space-s: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
  --space-m: clamp(1.4375rem, 1.3495rem + 0.3756vw, 1.6875rem);
  --space-l: clamp(1.875rem, 1.743rem + 0.5634vw, 2.25rem);
  --space-xl: clamp(2.8125rem, 2.6144rem + 0.8451vw, 3.375rem);
  --space-2xl: clamp(3.75rem, 3.4859rem + 1.1268vw, 4.5rem);
  --space-3xl: clamp(5.625rem, 5.2289rem + 1.6901vw, 6.75rem);

  --font-custom-sans: "Rubik";
  --font-system-sans:
    system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial, sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;

  --width-s: 40rem;
  --width-m: 60rem;
  --width-l: 90rem;
  --width-custom: 48rem;
  
  --clr-font-book-meta-caption: #b3b3b3;
  --clr-font-book-meta: #fff;
  --clr-bg-body: #F6F7EB;
  --clr-bg-book: #393E41;
  --clr-book-title: #E94F37;
  --clr-: #fffc31;
  --clr-: #5C415D;
}

/* ttf = truetype */
/* otf = opentype */
@font-face {
  font-family: "Rubik";
  src: url("/public/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-display: swap;
  font-style: normal;
  font-weight: 300 900;
}