.board {
  display: grid;
  grid-template: 
    repeat(3, 10rem) /
    repeat(3, 10rem);
  gap: var(--space-2xs);
}

.board__area {
  background-color: var(--board-area-bg);
  border-radius: var(--space-2xs);    

  transition: 75ms ease;
  &:hover {
    background-color: var(--board-area-bg-hover);
  }
  &:active {
    background-color: var(--board-area-bg-active);
  }
}